* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  background-color: #181818;
}

ul {
  list-style: none;
}

.container {
  max-width: 50rem;
  margin: 0 auto;
}

.min-h-md {
  min-height: 20rem;
}

.min-h-lg {
  min-height: 25rem;
}

.min-h-xl {
  min-height: 35rem;
}

.row {
  display: flex;
}

.row-reverse {
  flex-direction: row-reverse;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.gap-2 {
  gap: 8px;
}

.main-header nav {
  padding: 2rem 0;
}

.main,
.section,
.footer,
.aside {
  padding: 2rem 0;
}

.main .container {
  max-width: 40rem;
}

.section .col-1 {
  flex-basis: 60%;
}

.section .col-2 {
  flex-basis: 40%;
}

.footer {
  padding-top: 0;
}

.footer .footer-col {
  flex-basis: calc(100% / 5);
}

.footer .footer-col:first-child {
  flex-basis: calc((100% / 5) * 2);
}
